body {
    background-image: radial-gradient(circle, #86A2D1, #bbdeee);
}

h1 {
    color: rgb(18, 3, 82);
    text-align: center;
    position: relative; top: 50px;
    text-decoration: overline;
    text-decoration-color:rgb(35, 17, 112);
    text-decoration-style: wavy;
}

h3{
    position: relative; top: 90px;
    color:rgb(129, 0, 0);
    text-align: center;
}

button{
    color:rgb(129, 0, 0);
    text-align: center;
}